doctype 5
<!--[if lt IE 9]> <html class="ie8 old-ie" lang="en"> <![endif]-->
<!--[if gte IE 9]><!-->
html(lang="en")
  <!--<![endif]-->
  //
    *
    *
    *
    *          ///   ///    ..oOOOo..
    *         ///   ///  .:OOOOOOOOOOO:.
    *        ///   ///  .OOOOOOOOOOOOOOO.
    *       ///   ///   OOOOOOOOOOOOOOOOO
    *      ///   ///    OOOOOOOOOOOOOOOOO
    *     ///   ///     OOOOOOOOOOOOOOOOO
    *    ///   ///      `OOOOOOOOOOOOOOO'
    *   ///   ///        `:OOOOOOOOOOO:'
    *  ///   ///            ''*OOO*''
    *
    *  Designed & Developed by LaCroix Design Co.
    *    http://lacroixdesign.net
    *
    *
    *

  head
    meta(charset="utf-8")
    title= pageTitle(title, "Stargrin")

    //- koko wa general meta
        meta(name="description", content="Stargrin")
    meta(name="author", content="Michael LaCroix, James LaCroix")
    meta(http-equiv="X-UA-Compatible", content="chrome=1")

    //- koko wa fav and touch icons (reside in the /public folder), plus iOS meta
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="apple-touch-icon", href="/apple-touch-icon-57x57-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/apple-touch-icon-72x72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/apple-touch-icon-114x114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/apple-touch-icon-144x144-precomposed.png")
    //- meta(name="msapplication-TileColor", content="#ffffff")
    //- meta(name="msapplication-TileImage", content="/windows-icon.png")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    != assets.tag('/stylesheets/application.css')
    != assets.tag('/javascripts/application.js')

    //- koko wa Typekit -- replace VVVVVVV with the proper kit code
    script(type="text/javascript", src="//use.typekit.net/ozd7vpm.js")
    script.
      try{Typekit.load();}catch(e){}

    //- koko wa Google Analytics
    if process.env.GOOGLE_ANALYTICS_KEY && process.env.GOOGLE_ANALYTICS_DOMAIN
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '#{process.env.GOOGLE_ANALYTICS_KEY}', '#{process.env.GOOGLE_ANALYTICS_DOMAIN}');
        ga('send', 'pageview');

  body
    include _mixins
    block content
    footer#footer
      p Copyright 2013 Stargrin, Inc.

    //- koko wa Width Plugin
    if isDevelopment()
      #lacroix-browserwidth(style="position: fixed; bottom: 0; left: 0; background:#eee; color:#666666; font-size:0.65em; padding:0.35em; text-shadow: none; font-weight: bold; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; border-top-right-radius: 2px; border-top: 1px solid #ddd; border-right: 1px solid #ddd;")
      script.
        function showWidth(){var w = $(window).width();$('#lacroix-browserwidth').text(w);}showWidth();$(window).resize(function(){showWidth();});
